<div style="height:40rem;padding:0.5rem">
  <div class="progress-info" *ngFor="let item of progressInfoData">
    <div class="subtitle">{{ item.title }}</div>
    <div style="font-size: 16px;font-weight: bold;">
      {{ item.value | ngxNumberWithCommas }}
      <span class="delta" [class.up]="item.delta.up" [class.down]="!item.delta.up" style="font-size: 14px;font-weight: normal;margin-left:20px">
        <nb-icon [icon]="item.delta.up ? 'arrow-up' : 'arrow-down'" pack="eva"></nb-icon>
        {{ item.delta.value }}%
      </span>
    </div>
    <nb-progress-bar [value]="item.activeProgress" [displayValue]="true" [status]=item.status></nb-progress-bar>
    <div class="caption description">
      <bdi>{{ item.description }}</bdi>
    </div>
  </div>
</div>