<nb-card style="height:40.5rem">
  <nb-card-header style="padding: 0.3rem 0.3rem 0.3rem 1.2rem">Project 1</nb-card-header>
  <nb-card-body>
    <form>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Project Name</label>
        <span>Project 1</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Project ID</label>
        <span>1</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Reservoir Name</label>
        <span>Reservoir</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Asset Name</label>
        <span>Asset 1</span>
      </div>

      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Company Name</label>
        <span>Company</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Project Type</label>
        <span>Production</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Agreement Type</label>
        <span>Agreement</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Project Commitment</label>
        <span>Commitment</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Possibility of Success</label>
        <span>95 %</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Concession Interest</label>
        <span>Interest</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Other Interest</label>
        <span>Other</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Project Phase</label>
        <span>4</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Project Category</label>
        <span>Category 1</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Manager</label>
        <span>Manager Name</span>
      </div>
      <div class="info-group">
        <label class="label col-sm-5 col-form-label">Manager email</label>
        <span>Manager email</span>
      </div>
    </form>
  </nb-card-body>
</nb-card>