<!-- <div class="container">
  <div class="row">
      <div class="col-12">
        <nb-card>
          <nb-card-header>Area</nb-card-header>
          <nb-card-body>
            <detailed-portfolio1></detailed-portfolio1>
          </nb-card-body>
        </nb-card>
      </div>
  </div>
</div> -->


<div class="container">
  <div class="card-row">
    
    <div class="col-8" style="padding-left:0!important;
    padding-right: 0 !important;">
    <div class="card-col">
      <nb-card>
        <nb-card-header><span style="padding-left:1rem;padding-right:0.5rem;">Scenario:</span>
          <nb-select [selected]="scenarioSelected" (selectedChange)="detailed1.setValue($event)" status="primary" size="small">
            <nb-option *ngFor="let item of scenarioItems" [value]="item.value">{{item.name}}</nb-option>
          </nb-select>
        </nb-card-header>
        <nb-card-body>
          <detailed-portfolio1 #detailed1></detailed-portfolio1>
        </nb-card-body>
      </nb-card>
    </div>
    </div>

    <div class="col-4" style="padding-left:0!important;
    padding-right: 0 !important;">
    <div class="card-col">

      <!-- <nb-card>
        <nb-card-header>
        </nb-card-header>
        <nb-card-body>
          <bar-horizontal #barhor></bar-horizontal>
        </nb-card-body>
      </nb-card> -->

      <ngx-detailed-panel></ngx-detailed-panel>

      
      <ngx-detailed-table></ngx-detailed-table>

    </div>
  </div>
</div>