<div class="container">
  <div class="card-row">
    <div class="col-8" style="padding-left:0!important;padding-right: 0 !important;">
      <div class="card-col">
        <nb-card>
          <nb-card-body>
            <info-schema></info-schema>
          </nb-card-body>
        </nb-card>
      </div>
    </div>

    <div class="col-4" style="padding-left:0!important;padding-right: 0 !important;">
      <div class="card-col">
        <info-data></info-data>
      </div>
    </div>
  </div>
</div>